<button class="image-button">
    <span class="image-container">
        <img class="image" src="@ImageUrl" />
    </span>
</button>

@code {
  
    [Parameter]
    public string ImageUrl { get; set; }

   
}