.image-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    margin-top: 7px;
    flex-direction: row;
    align-items: center;
    padding: 13px 24px;
    margin-left: 6px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: white;
    line-height: 14px;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.05em;
    gap: 12px;
}

.image-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    padding-left: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}

.image {
    width: 20px;
    height: 20px;
    visibility: visible;
}
