.input-task {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border:none;
    margin-top: 7px;
    width:400px;
}

.input-task:focus{
    outline:none;
}